In [ ]:
pip install pandas

In [ ]:
import pandas as pd
df = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
df.head()

,Animal ID,Date of Birth,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A668305,2012-12-01,NaN,2013-12-02T00:00:00-05:00,12-2013,Transfer,Partner,Other,Unknown,1 year,Turtle Mix,Brown/Yellow
1,A673335,2012-02-22,NaN,2014-02-22T00:00:00-05:00,02-2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon,Black/Gray
2,A675999,2013-04-03,NaN,2014-04-07T00:00:00-05:00,04-2014,Transfer,Partner,Other,Unknown,1 year,Turtle Mix,Green
3,A679066,2014-04-16,NaN,2014-05-16T00:00:00-05:00,05-2014,NaN,NaN,Other,Unknown,4 weeks,Rabbit Sh,Brown
4,A680855,2014-05-25,NaN,2014-06-10T00:00:00-05:00,06-2014,Transfer,Partner,Bird,Unknown,2 weeks,Duck,Yellow/Black

In [6]:
df.tail()

,Animal ID,Date of Birth,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
173770,A671565,2013-07-06,NaN,2014-02-07T10:14:00,02-2014,Transfer,SCRP,Cat,Spayed Female,7 months,Domestic Medium Hair Mix,Brown Tabby
173771,A675119,2014-02-16,NaN,2014-03-27T08:00:00,03-2014,Transfer,Partner,Dog,Intact Male,1 month,Pomeranian Mix,White/Brown
173772,A677839,2014-01-29,NaN,2014-05-03T08:00:00,05-2014,Transfer,Partner,Other,Unknown,3 months,Lop-English Mix,Chocolate
173773,A678559,2011-05-10,Gatsby,2014-05-14T08:00:00,05-2014,Transfer,Partner,Dog,Intact Male,3 years,Pekingese/Lhasa Apso,Buff
173774,A678592,2013-05-10,NaN,2014-05-14T08:00:00,05-2014,Transfer,Partner,Other,Unknown,1 year,Rabbit Sh Mix,Black

In [ ]:
df.shape  #(173775, 12)

(173775, 12)

In [9]:
df.nunique()

Animal ID           156237
Date of Birth         8692
Name                 29756
DateTime            146382
MonthYear              140
Outcome Type            11
Outcome Subtype         26
Animal Type              5
Sex upon Outcome         5
Age upon Outcome        55
Breed                 3010
Color                  663
dtype: int64

In [10]:
df.isnull().sum()

Animal ID               0
Date of Birth           0
Name                49784
DateTime                0
MonthYear               0
Outcome Type           46
Outcome Subtype     94115
Animal Type             0
Sex upon Outcome        1
Age upon Outcome        9
Breed                   0
Color                   0
dtype: int64

In [11]:
df.dtypes

Animal ID           object
Date of Birth       object
Name                object
DateTime            object
MonthYear           object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object